# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.RData

.Rproj.user

node_modules
dist
.tmp
.sass-cache
app/bower_components
*.iml
*.ipr
*.iws
